<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #007bff;">
  <div class="container-fluid">
    <a class="navbar-brand text-white fs-4" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarLinks" aria-controls="navbarLinks"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav mx-auto justify-content-center">
        <li class="nav-item mx-3">
          <a class="nav-link text-white fs-5" href="https://www.google.com" target="_blank">Google</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fs-5" href="https://www.wikipedia.org" target="_blank">Wikipedia</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white fs-5" href="https://www.github.com" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}





<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>